.App {
  text-align: center;
}
.column {
  float: left;
  width: 45%;
  padding: 5px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.FormBasic{
  margin: 10px;
  font-size: 14px;
}



.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  margin-left: auto;
    margin-right: auto;
  align-items: center;
  width: 50%;
  font-size: 120%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: black;
  text-decoration-color: azure;
  color: aliceblue;
}

.card-signin {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  height: 100vh;
  border: 0;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  align-content: center;
  text-align: center;
}