.App {
  text-align: center;
}
.column {
  float: left;
  width: 45%;
  padding: 5px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.FormBasic{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  margin: 10px;
  font-size: 14px;
}



.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  align-self: center;
  align-items: center;
  width: 50%;
  font-size: 120%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  background-color: black;
  text-decoration-color: azure;
  color: aliceblue;
}